nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f5;
	text-decoration;none;
	
}

body {
	

}


li {
    float: center-left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
	font-family:Calibri;
}


li a:hover {
    background-color: #111;
	color:white;
}
ul {
	
	 list-style-type: none;
    margin: 0;
    padding: 0;
}
h1 {
	color:black;
	
	
}
header {
	
	font-family:Calibri;
	align:center;
	
}

footer {
	
	position:500px;
}

title {
	
	position:center;
}

p{
	
	font-family:Calibri;
	
}


a{
	
	text-decoration:none;
}

 img{
	
float:center-right;
  width: 400px;
  height: 100px;
  
  
}
