		nav  {




				    width: 100%;
				    font-size: 30px;
				    font-family: Tahoma;;
				    text-align: center;
						background-color: #f2eeea;
						padding: 20px;
						overflow: hidden;


		}



		nav li  {

		display: inline;
		padding: 35px;


}

		}

		body {
			background-color: #cccccc;

		}

		.showcase {

			background-image: url("../public_html/images/title.png");

		}




		nav a {
			text-decoration: none;
			color: black;
			padding: 10px 10px 10px 10px;
		}


		nav a:hover {
		    background-color: #111;
				color:white;
		}
		ul {

			list-style-type: none;
		    margin: 0;
		    padding: 0;
				display: inline;
		}
		h1 {
			color:black;


		}
		header {

			width: 100%;
			height:100%;
			background:url("../images/title.png");
			background: #bfbfbf;
			padding-top: 30px;
			min-height: 70px;
			border-bottom: black;

		}




		footer {

			position:500px;
			display: inline-block;
			text-align: center;
			list-style-type: none;
		}
		footer li{

			display:inline;
			font-family: Tahoma;
			font-size: 22px;
			padding: 30px;
		}


		footer a{
			text-decoration: none;
		}
		title {

			position:center;
		}

		p{

			font-family:Calibri;

		}


		a{

			text-decoration:none;
		}

		 img {

		   float:center;
		   width: 100%;
		   height: auto;


		}




		main img {

			width:100%;
			height:auto;


		}






		.showcase


		 {

			min-height: 400px;
			background: url("..//images/justiceleague.jpg") no repeat 0 -400px;
		}
